<div id="login_form">
  <h2 class="form-signin-heading">You must<br>
    ---<strong style="color:green">LOG IN</strong>---<br>
    to access all of our GREAT features!</h2>
  <div class="container">
    <%= form_tag(sessions_path, method: :post) %>
    <form class="form-signin">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input name="email" type="email" id="inputEmail" class="form-control" placeholder="email@example.com" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="password" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</div>
