<div style="margin-top:13px; width:1249px" id="header">
  <img id="logo" src="/TIY_logo.png"/>
  <h1>---@ Dictionary Database @---</h1>
</div>

<h1>Thank you for contributing!</h1>

<%= render 'form' %>
