body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  h1, div {
    text-align: center;
    a{
      color: red;
      &:visited {
        color: red;
      }
      &:hover {
        color: #fff;
        background-color: #000;
        text-decoration: none;
      }
    }
  }
}

table {
  margin-left: auto;
  margin-right: auto;
}

.spaces td {
  padding-right: 25px;
  border-bottom: 1px solid black;
}

.words {
  font-weight: bold;
  text-align: right;
}

#edit, #delete {
  a:hover {
    color: red;
    text-decoration: none;
  }
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

// a {
//   color: #000;
//
//   &:visited {
//     color: #666;
//   }
//
// }

div {
  &.field, &.actions {
    margin-bottom: 15px;
  }
}

#notice {
  color: green;
  text-align: center;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline-block;
}

#error_explanation {
  width: 390px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  margin-left: 420px;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#header {
  color: white;
  background-color: #213138;
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  #logo{
    width: 150px;
    height: 150px;
  }
}

#add_word {
  padding-bottom: 30px;
}

th {
  text-align: left;
}

#show_word {
  text-align: center;
  padding-top: 5px;
  div {
    font-size: 26px;
    padding-top: 15px;
  }
  p {
    font-size: 16px;
  }
}
