body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  h1, div {
    text-align: center;
  }
}

table {
  margin-left: auto;
  margin-right: auto;
}

.spaces td {
  padding-right: 25px;
  border-bottom: 1px solid black;
}

.words {
  font-weight: bold;
  text-align: right;
}

#delete a {
  color: black;
  &:hover {
    color: red;
    text-decoration: none;
  }
}

#edit a {
  color: black;
  &:hover {
    color: green;
    text-decoration: none;
  }
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 15px;
  }
}

#notice {
  color: green;
  text-align: center;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline-block;
}

#error_explanation {
  width: 390px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  margin-left: 420px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#cancel {
  padding-top: 10px;
  font-size: 26px;
  a {
    color: red;
  }
  a:hover {
    text-decoration: none;
  }
}

#header {
  color: white;
  background-color: #213138;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  #logo{
    width: 150px;
    height: 150px;
  }
}

#header .navbar {
  color: black;
  display: inline-flex;
  width: 1000px;
  align-items: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  a {
    color: black;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
  img {
     height: 40px;
     width: 40px;
     margin-left: 2px;
  }
}

#homelink {
  padding-right: 20px;
  padding-left: 10px;
}

#add_word {
  color: black;
  margin-right: 10px;
  width: 89px;
}

#nav_spacer {
  width: 595px;
  display: inline-flex;
}

#to_search {
  width: 210px;
  input {
    width: 100%;
    border-bottom-right-radius: 5px;
  }
}

th {
  text-align: left;
}

#show_word {
  text-align: center;
  padding-top: 25px;
  div {
    color: green;
    font-size: 26px;
    padding-top: 15px;
  }
  p {
    padding-top: 10px;
    font-size: 16px;
  }
  #return a {
    font-size: 26px;
    color: black;
    &:hover {
      color: blue;
      text-decoration: none;
    }
  }
}

#return {
  font-size: 26px;
}

#login_form .container {
  width: 327px;
}

.panel-body {
  align-self: center;
}

.logging {
  width: 660px;
  height: 40px;
  display: flex;
  position: relative;
  left: 330px;
  // background-color: blue;
  #email{
    display: inline-block;
    width: 220px;
  }
  #password {
    display: inline-block;
    width: 220px;
  }
  #sub_butt {
    position: relative;
    bottom: 1px;
    display: inline-block;
  }
}

div {
  .checkbox {
    display: inline-flex;
    margin: 4px 0px 0px 0px;
    .forget {
      position: relative;
      top: 6px;
      display: flex;
      // background-color: purple;
      #box {
        padding-left: 5px;
        // background-color: orange;
        // display: inline-flex;
      }
      #elephant {
        // background-color: yellow;
        display: inline-flex;
        label {
          padding: 0px;
        }
      }
    }
  }
}

.social_links {
  text-align: center;
  padding-top: 5px;
  position: relative;
  right: 12px;
}

#more_links {
  text-align: center;
}
